// input / output file parameters
params {
	// primary inputs
  	raw_files = '../../datasets/mspepid_data/ISAs/EXII07043std.raw'
  	mzml_files = ''
  	fasta = '../../datasets/mspepid_data/uniprot_UP000005640_human_isos-uni_conts-2025_01.fasta'
  	fasta_target_decoy = ''

	// output directory
	outdir = './'
}
